@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

#board {
  width: 30em;
  height: 30em;
}

.row {
  width: 30em;
  height: 10em;
  border-bottom: .25em solid black;
}

.space {
  width: 10em;
  height: 10em;
  border-right: .25em solid black;
  font-family: "Coming Soon";
  font-size: 1em;
  text-align: center;
}

.space:nth-child(3), 
.row:nth-child(3) {
  border: none;
}
