@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
@import url(http://fonts.googleapis.com/css?family=UnifrakturCook:700);

* {
  margin: 0;
  padding: 0; 
}

body {
  font-family: "Coming Soon", cursive;
  background-color: #e8dbb6;
}

div.paper {
  margin: 50px;
  width: 1010px;
  height: 1122px;
  background: linear-gradient(
    to bottom,
    #fff,
    #76cfff 2px,
    #fff 1px
  );
  background-size: 100% 30px;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}
aside.leftmargin {
  width: 165px;
  border-right: 2px solid #ff3388;
  height: 1122px;
  position: absolute;
  top: 0; left: 0;
  z-index: 2;
  overflow-x: hidden;
}

div.holes {
  background-image: radial-gradient(#120f06 17px, transparent 19px);
  background-size: 450px 450px;
  background-position: 0 0;
  width: 450px;
  height: 1150px;
  margin-left: -170px;
  margin-top: -110px;
}

header.topmargin {
  background-color: #fff;
  padding-left: 165px;
  height: 110px;
  position: relative;

}

h1.margin-title {
  position: absolute;
  top: 50px;
  font-size: 50px;
  padding-left: 15px;
  font-family: 'UnifrakturCook'; 
}

main {
  margin-left: 165px;
  min-height: 500px;
  padding: 15px 30px 0 15px;
}

footer.bottommargin {
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 1px;
  height: 32px;
}

#board {
  width: 45rem;
  height: 45rem;
  margin-top: 2em;
  margin-left: 2em;
}

.row {
  width: 45rem;
  height: 15rem;
  border-bottom: .375rem solid black;
}

.space {
  width: 15rem;
  height: 15rem;
  border-right: .375rem solid black;
  position: relative;
}

.letter {
  width: 18rem;
  height: 18rem;
  position: absolute;
  font-size: 9em;
  text-align: center;
  margin: auto; 
  top: 0; right: 0; bottom: .09375em; /* text sits at bottom of el */
  left: 0;
}

.space:nth-child(3), 
.row:nth-child(3) {
  border: none;
}

section.game-options {
  font-size: 2em;
}

label, 
label span {
  display: block;
}

label {
  margin: 1em 0;
}

a, 
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(51, 51, 51);
  cursor: pointer;
}